<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="./assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <section class="content-search">
        <form action="/search">
            <label for="">Buscar categoria</label>
            <input type="text" name="name">
            <button type="submit">
                <img src="assets/images/search.svg" alt="buscar">
            </button>
        </form>
    </section>
    <h1>Não existe produtos cadastrados ¯\_(ツ)_/¯</h1>
</body>
</html>
