<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="/assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <main>
        <div class="cart-container">
           <table>
               <thead>
                    <tr>
                        <th>Título</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
               </thead>
               <table>
               <thead:block th:each="product : ${products}">
                    <tr>
                        <td th:text="${product.title}"></td>
                        <td th:text="${product.amount}"></td>
                        <td th:text="${product.price * product.amount}"></td>
                    </tr>
                </thead:block>
                   <tr>
                       <th>Total</th>
                       <td th:text="${cart.total}"></td>
                   </tr>
           </table>
        </div>
    </main>
</body>
</html>