<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="/assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <main>
        <div class="cart-container">
           <table>
               <thead>
                    <tr>
                        <th>Título</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
               </thead>
               <thead>
                    <tr>
                        <td>Hamburguê triplo</td>
                        <td>
                            <div class="selectAmount">
                                <input type="number" min=0>
                            </div>
                        </td>
                        <td>R$ 30,00</td>
                    </tr>
                </thead>
           </table>
        </div>
    </main>
</body>
</html>