<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="/assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <section class="content-search">
        <form action="">
            <label for="">Buscar categoria</label>
            <input type="text">
            <button type="submit">
                <img src="/assets/images/search.svg" alt="buscar">
            </button>
        </form>
    </section>
    <main>
        <div class="box-container">
            <img src="" alt="">
            <div>
                <h2>Hamburguer triplo</h2>
                <p>Mauris vel lectus convallis, pulvinar augue pharetra, facilisis tellus</p>
                <div class="selectAmount">
                    <input type="number" min=0>
                </div>
                <div>
                    <span>R$ 15,00</span>
                    <button>Quero pra já</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>