<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="/assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <section class="content-search">
        <form action="">
            <label for="">Buscar categoria</label>
            <input type="text">
            <button type="submit">
                <img src="/assets/images/search.svg" alt="buscar">
            </button>
        </form>
    </section>
</body>
</html>